.company,.h1
{
	font-family: droid-sans-n4, sans-serif;
}

.h2
{
	font-family: droid-sans-n7, sans-serif;
}

#u1249-8,#u1251-12,#u1228-4,#u1234-4,#u1227-4,#u1233-4,#u1232-4,#u1238-4,#u1231-4,#u1237-4,#u1666-4,#u1678-4,#u1660-4,#u1672-4,#u1690-4,#u1702-8,#u1029-8
{
	font-family: droid-sans-n4, sans-serif;
}

